{% extends "base_template3.html" %}

{% block title %}Bienvenido Personal{% endblock %}

{% block content %}
    {% for dato in datos %}
        <p>Hola {{ dato.2 }}!</p>
    {% endfor %}
    <div class="container">
        <table id="resultado" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>RUT</td>
                    <td>Digito Verificador</td>
                    <td>Mail</td>
                </tr>
            </thead>
            <tbody>
                {% for dato in datos %}
                    <tr>
                        <td>{{ dato.2 }}</td>
                        <td>{{ dato.0 }}</td>
                        <td>{{ dato.1}}</td>
                        <td>{{ dato.3 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#resultado').DataTable();
        });
    </script>
{% endblock %}